<div class="product-item">
    <mat-card fxLayout="column">
        <div class="product-img">
            <a class="product-link" [routerLink]="['/home/product-allocation', character.id]">
                <img [src]="'https://via.placeholder.com/500'" alt="">
            </a>
        </div>
        <div class="product-info-wrapper">
            <!-- <span class="category">Man</span> -->
            <div class="title-wrap">
                <h4>{{character.characterName}}</h4>
                <p class="mb-1">{{character.characterType}}</p>
                <p class="mb-0">Age: {{character.age}}</p>
                <p class="mb-0">Body Form: {{character.bodyForm}}</p>
            </div>
            <!-- <div class="stars">
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
                <mat-icon class="mat-icon-xs mat-icon material-icons ng-star-inserted">star_rate</mat-icon>
            </div> -->
            <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- <a>
                    <mat-icon class="mat-icon-lg mat-icon material-icons">shopping_cart</mat-icon>
                </a> -->
            </div>
            <div class="icons" fxLayout="column">
                <!-- <a>
                    <mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite_border</mat-icon>
                </a> -->

                <!-- <a (click)="addToCompare(product)"><mat-icon>cached</mat-icon></a> -->
                <a (click)="openCharacterDialog(character)">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
            </div>
        </div>
    </mat-card>
</div>